In [8]:
import pandas as pd
from ChallongeETL import parse_challonge

list_url = [
#             "https://challonge.com/pt_BR/roit_garbage_out19",
#             "https://challonge.com/pt_BR/roit_garbage_nov19",
#             "https://challonge.com/pt_BR/roit_garbage_dez19",
#             "https://challonge.com/pt_BR/supreme_league_out19",
#             "https://challonge.com/pt_BR/supreme_league_nov19",
            "https://challonge.com/pt_BR/supreme_league_dez19"
            ]

df_list = []
for url in list_url:
    df_list.append(parse_challonge(url))
df_data = pd.concat(df_list)

In [9]:
dfp_diff_score = df_data.groupby(['player_name'])['diff_score'].sum().reset_index()
dfp_total_score = df_data.groupby(['player_name'])['total_score'].sum().reset_index()
dfp_wins = df_data.groupby(['player_name'])['winner'].sum().astype(int).reset_index()

dfp_res = pd.merge(dfp_diff_score,dfp_total_score,on=['player_name']).reset_index()
dfp_res = dfp_res.drop('index', axis=1)
dfp_res = dfp_res.merge(dfp_wins,on=['player_name']).reset_index()
dfp_res = dfp_res.drop('index', axis=1)

dfp_res.sort_values(by=['winner','diff_score','total_score'],ascending=False)

                                player_name  diff_score  total_score  winner
7                             guilhermeMerc           9            9       4
0                                 GregBueno           6            6       4
1   Mestre Supremo comedor de ratos e urubu           2            3       2
5                                 brunoroth           1            5       2
3                            Vitao_comeback           0            3       2
10                               lima641112           0            2       1
9                               karlaugust1           0            1       1
4                               VitorAlbres          -2            2       1
11                          oliver_junior07          -2            1       1
6                            clevertoneliel          -4            1       1
8                                 jeremiasE          -2            0       0
2                                   Misoryu          -8            0       0